[SddmGreeterTheme]
Name=BITE-OS
Description=BITE-OS glitch greeter
Author=glitchbite404
License=
Type=sddm-theme
Version=0.1
Website=
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=bite-os
Theme-API=2.0
QtVersion=5
